@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The monthly payment depends on your age, we have loans available for people from 18 years old to 25 years old by now.</p>
