@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Github:</strong>   <a href="https://github.com/jamendez216">github.com/jamendez216</a><br />
    <abbr title="Phone">Phone:</abbr>
    809-654-6980
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:jamendez216@gmail.com">jamendez216@gmail.com</a><br />
    <strong>Social Site:</strong> <a href="https://www.linkedin.com/in/jose-armando-mendez-espinal-23b2b7168/">linkedin.com/josearmandomendez</a>
</address>